<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Doctor Booking System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/selectivizr@1.0.3/selectivizr.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Online Doctor Booking System","","", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1" style="color:">
                    @if (User.IsInRole("Labtechnician"))
                    {
                        <li>@Html.ActionLink("Requests For LabTests", "TestRequests", "LabTechnician", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Upload LabTest Results", "AddTestResults", "LabTechnician", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.IsInRole("Patient"))
                    {
                        <li>@Html.ActionLink("Book Appointment", "AddAppointment", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cancel Appointment", "cancelAppointments", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Pending Appointments", "PendingAppointments", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Completed Appointments", "CompletedAppointments", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Diagnosis List", "DiagnosisList", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Prescription List", "PrescriptionList", "Patient", new { area = "" }, new { @class = "nav-link" })</li>

                    }
                    @if (User.IsInRole("Doctor"))
                    {
                        <li>@Html.ActionLink("Book Appointment", "AddAppointment", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Pending Appointments", "PendingAppointments", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Check Patient In", "CheckingIn", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Write Patient Diagnosis", "AddDiagnosis", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Write Prescription", "AddPrescription", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Add Medication", "AddMedicine", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Diagnosis List", "DiagnosisList", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Prescription List", "PrescriptionList", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
                 @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Online Doctor Booking System - @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
